<!-- <p-password
  [(ngModel)]="value1"
  [invalid]="!isValid"
  placeholder="Password"
  (ngModelChange)="isValid = value1 == value2"
  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$"
  required
/>
<p-password
  [(ngModel)]="value2"
  [invalid]="!isValid"
  variant="filled"
  placeholder="Password"
  (ngModelChange)="isValid = value1 == value2"
/>
<span *ngIf="value1 != value2">Passwords InValid</span>
<a class="btn btn-primary" role="button" (click)="validatePassword()"
  >Confirm</a
> -->

<div class="container mt-4">
  <div class="row g-3">
    <div class="col-md-6">
      <label class="form-label">Password</label>
      <p-password
        [(ngModel)]="value1"
        [invalid]="!isMatched"
        placeholder="أدخل كلمة المرور"
        styleClass="form-control w-100"
        (ngModelChange)="isMatched = value1 == value2; strongPassword()"
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$"
        required
      ></p-password>
    </div>

    <div class="col-md-6">
      <label class="form-label"> ConfirmPassword</label>
      <p-password
        [(ngModel)]="value2"
        [invalid]="!isMatched"
        styleClass="form-control w-100"
        placeholder="RewitePassword"
        variant="filled"
        (ngModelChange)="isMatched = value1 == value2; strongPassword()"
      ></p-password>
    </div>
  </div>

  <div class="mt-2" *ngIf="!isStrong">
    <span class="text-danger fw-bold">❌ Password Must Contain at Least One Capital Char and Special Char</span>
  </div>
  <div class="mt-2" *ngIf="!isMatched">
    <span class="text-danger fw-bold">❌ Not Matched</span>
  </div>

  <!-- زر التأكيد -->
  <div class="mt-3">
    <a class="btn btn-primary w-100" role="button" (click)="validatePassword()">
      تأكيد
    </a>
  </div>
</div>
