<div class="flex flex-col items-center">
  <div class="font-bold text-xl mb-2">Authenticate Your Account</div>
  <p class="text-muted-color block mb-8">
    Please enter the code sent to your phone.
  </p>
  <p-inputotp [(ngModel)]="value" [length]="6">
    <ng-template #input let-token let-events="events" let-index="index">
      <input
        type="text"
        [maxLength]="1"
        (input)="events.input($event)"
        (keydown)="events.keydown($event)"
        [attr.value]="token"
        class="custom-otp-input"
      />
      <div *ngIf="index === 3" class="px-4">
        <i class="pi pi-minus"></i>
      </div>
    </ng-template>
  </p-inputotp>
  <div class="flex justify-between mt-8 self-stretch">
    <a
      *ngIf="value.length == 6"
      class="btn btn-outline-success"
      role="button"
      (click)="validateOTP()"
      >SummbitCod</a
    >
    <a
      *ngIf="value.length != 6"
      class="btn btn-outline-success disabled"
      aria-disabled="true"
      role="button"
      >SummbitCod</a
    >
    <a
      class="btn btn-outline-success disabled"
      aria-disabled="true"
      role="button"
      class="text-muted-color text-sm"
      (click)="resendCode()"
      >ResendCode</a
    >
  </div>
</div>
